apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: confine-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: afsapp.azurecr.io/client:IMAGE_TAG
        ports:
        - containerPort: 80

