apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: confine-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: afsapp.azurecr.io/auth-service:IMAGE_TAG
        ports:
        - containerPort: 3001
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3001"
        - name: JWT_EXPIRE
          value: "7d"
        - name: CLIENT_URL
          value: "http://client"
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: confine-secrets
              key: MONGODB_URI
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: confine-secrets
              key: JWT_SECRET
